body {
    background-color: #859af5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card {
    box-shadow: 1px 1px 5px #cccccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.card-top {
    text-align: center;
}

.card-group {
    margin-bottom: 10px;
}

.card-group>label {
    width: 100%;
    color: #f0f0f0;
}

.card-group>input {
    display: block;
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 23px;
    padding-left: 5px;
}

.card-group>button {
    background-image: linear-gradient(to right, blue rgb(15, 15, 160));
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
}

.btn button:hover {
    background-image: linear-gradient(to right, blue rgb(9, 9, 116));
}

.login {
    border: 50px;
    width: 100px;
    box-shadow: 1px 1px 5px #cccccc;
}

.titulo {
    color: blue;
}